@font-face {
    font-family: skyrim;
    src: url('../../Bootstrap/fonts/Skyrim-icomoon.woff');
}

.cinzel,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cinzel';
    letter-spacing: .5rem;
}

a,
a:hover,
a:active,
a:focus {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #666;
    cursor: pointer;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-brand {
    font-family: 'Cinzel';
    letter-spacing: 1rem;
    line-height: .5rem;
}

.navbar-brand:hover {
    cursor: pointer;
}

.skyrim-icon {
    font-family: skyrim;
    font-size: 3rem;
    position: relative;
    bottom: -.8rem;
}

.skyrim-logo {
    font-family: skyrim;
    font-size: 10rem;
    position: relative;
    left: -.8rem;
}

.jumbotron {
    background-image: url('/Core/Images/skyrim.jpg');
    background-size: cover;
}

.jumboTitle {
    font-family: 'Cinzel';
}

.jumboTitle h1 {
    letter-spacing: 2rem;
}

.jumboTitle h3,
.jumboTitle h4 {
    letter-spacing: 1rem;
}

.underline {
    border-bottom: 1px solid #333;
}

.main-body {
    padding-top: 3rem;
}

.tab-content {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-radius: 0 0 4px 4px;
    padding: 3rem;
}

.scroll {
    overflow-y: scroll;
    max-height: 30rem;
}

#currIngPanel {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: none;
}


/*
    Bootstrap Fixes
*/

.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:focus,
.nav-tabs.nav-justified>.active>a:hover {
    border-bottom: none;
}

a.list-group-item:focus,
a.list-group-item:hover,
button.list-group-item:focus,
button.list-group-item:hover {
    outline: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.alert h1 {
    font-family: initial;
    margin-top: 0;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently not supported by any browser */
    cursor: default;
}

.close:active,
.close:hover,
.close:visited,
.close:focus {
    outline: none;
}