@font-face {
    font-family: skyrim;
    src: url('../../Bootstrap/fonts/Skyrim-icomoon.woff');
}

.cinzel {
    font-family: 'Cinzel';
}

body {}

a,
a:hover,
a:active,
a:focus {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #666;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-brand {
    font-family: 'Cinzel';
    letter-spacing: 1rem;
    line-height: .5rem;
}

.navbar-brand:hover {
    cursor: pointer;
}

.skyrim-icon {
    font-family: skyrim;
    font-size: 3rem;
    position: relative;
    bottom: -.8rem;
}

.skyrim-logo {
    font-family: skyrim;
    font-size: 10rem;
    position: relative;
    left: -.8rem;
}

.jumboTitle {
    font-family: 'Cinzel';
}

.jumboTitle h1 {
    letter-spacing: 2rem;
}

.jumboTitle h3,
.jumboTitle h4 {
    letter-spacing: 1rem;
}