<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
        <a class="navbar-brand" href="/">SKYRIM<span class="skyrim-icon">&#xe900;</span><span style="letter-spacing: .5rem;">tools</span></a>
    </div>
    <div class="collapse navbar-collapse" id="nav-collapse">
        <ul class="nav navbar-nav" id="navLinks"></ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <form class="navbar-form form-group" action="/Pages/Search.html">
                    <div class="input-group">
                        <input class="form-control form-byu-search" type="search" name="q" placeholder="Search" />
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</div>